[management]
parent_dir = /Users/jmccarty/Desktop/
project_name = test_project
latitude = 46.8
longitude = 8.7
elevation = 436
utc = 1
host_name = B1000
raw_host_file = B1000.pickle
exclude_surfaces = None
project_data = None
scenario_name = base
base_epw = None
tmy_name = None
timezone = None
[irradiance]
grid_x_mm = 25
grid_y_mm = 25
radiance_parameters = None