[management]
parent_dir = /Users/jmccarty/Desktop/
project_name = test_project
latitude = 46.8
longitude = 8.7
elevation = 436
utc = 1
host_name = B1000
raw_host_file = B1000.pickle
exclude_surfaces = None
project_data = None
scenario_name = base
base_epw = None
tmy_name = None
timezone = None

[analysis]
device_id = None
analysis_period = 0-8760
active_surface = None
n_workers = 4

[irradiance]
grid_x_mm = 25
grid_y_mm = 25
radiance_param_rflux = -lw 0.0001 -ab 5 -ad 10000
radiance_param_rcontrib = -ad 256 -lw 1.0e-3 -dc 1 -dt 0 -dj 0
n_workers = 4
store_radiance = True